In [1]:
import pandas as pd

In [3]:
# ładowanie pliku CSV do obiektu DataFrame
url = "http://51.91.120.89/extras/f500.csv"
df = pd.read_csv(url)
df

,company,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
0,Walmart,1,485873,0.8,13643.0,198825,-7.2,C. Douglas McMillon,General Merchandisers,Retailing,1,USA,"Bentonville, AR",http://www.walmart.com,23,2300000,77798
1,State Grid,2,315199,-4.4,9571.3,489838,-6.2,Kou Wei,Utilities,Energy,2,China,"Beijing, China",http://www.sgcc.com.cn,17,926067,209456
2,Sinopec Group,3,267518,-9.1,1257.9,310726,-65.0,Wang Yupu,Petroleum Refining,Energy,4,China,"Beijing, China",http://www.sinopec.com,19,713288,106523
3,China National Petroleum,4,262573,-12.3,1867.5,585619,-73.7,Zhang Jianhua,Petroleum Refining,Energy,3,China,"Beijing, China",http://www.cnpc.com.cn,17,1512048,301893
4,Toyota Motor,5,254694,7.7,16899.3,437575,-12.3,Akio Toyoda,Motor Vehicles and Parts,Motor Vehicles & Parts,8,Japan,"Toyota, Japan",http://www.toyota-global.com,23,364445,157210
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,Teva Pharmaceutical Industries,496,21903,11.5,329.0,92890,-79.3,Yitzhak Peterburg,Pharmaceuticals,Health Care,0,Israel,"Petach Tikva, Israel",http://www.tevapharm.com,1,56960,33337
496,New China Life Insurance,497,21796,-13.3,743.9,100609,-45.6,Wan Feng,"Insurance: Life, Health (stock)",Financials,427,China,"Beijing, China",http://www.newchinalife.com,2,54378,8507
497,Wm. Morrison Supermarkets,498,21741,-11.3,406.4,11630,20.4,David T. Potts,Food and Drug Stores,Food & Drug Stores,437,Britain,"Bradford, Britain",http://www.morrisons.com,13,77210,5111
498,TUI,499,21655,-5.5,1151.7,16247,195.5,Friedrich Joussen,Travel Services,Business Services,467,Germany,"Hanover, Germany",http://www.tuigroup.com,23,66779,3006
499,AutoNation,500,21609,3.6,430.5,10060,-2.7,Michael J. Jackson,Specialty Retailers,Retailing,0,USA,"Fort Lauderdale, FL",http://www.autonation.com,12,26000,2310

In [4]:
df.columns

Index(['company', 'rank', 'revenues', 'revenue_change', 'profits', 'assets',
       'profit_change', 'ceo', 'industry', 'sector', 'previous_rank',
       'country', 'hq_location', 'website', 'years_on_global_500_list',
       'employees', 'total_stockholder_equity'],
      dtype='object')

In [5]:
# ładowanie pliku CSV do obiektu DataFrame
url = "http://51.91.120.89/extras/f500.csv"
df = pd.read_csv(url, usecols=['company', 'rank','ceo', 'industry'])
df

,company,rank,ceo,industry
0,Walmart,1,C. Douglas McMillon,General Merchandisers
1,State Grid,2,Kou Wei,Utilities
2,Sinopec Group,3,Wang Yupu,Petroleum Refining
3,China National Petroleum,4,Zhang Jianhua,Petroleum Refining
4,Toyota Motor,5,Akio Toyoda,Motor Vehicles and Parts
...,...,...,...,...
495,Teva Pharmaceutical Industries,496,Yitzhak Peterburg,Pharmaceuticals
496,New China Life Insurance,497,Wan Feng,"Insurance: Life, Health (stock)"
497,Wm. Morrison Supermarkets,498,David T. Potts,Food and Drug Stores
498,TUI,499,Friedrich Joussen,Travel Services
499,AutoNation,500,Michael J. Jackson,Specialty Retailers

In [8]:
# ładowanie pliku CSV do obiektu DataFrame
url = "http://51.91.120.89/extras/f500.csv"
df = pd.read_csv(url, usecols=[0,1,7,8])
df.head(2)

      company  rank                  ceo               industry
0     Walmart     1  C. Douglas McMillon  General Merchandisers
1  State Grid     2              Kou Wei              Utilities

In [10]:
df.tail(3)

                       company  rank                 ceo              industry
497  Wm. Morrison Supermarkets   498      David T. Potts  Food and Drug Stores
498                        TUI   499   Friedrich Joussen       Travel Services
499                 AutoNation   500  Michael J. Jackson   Specialty Retailers

In [14]:
# ładowanie pliku CSV do obiektu DataFrame
url = "http://51.91.120.89/extras/f500.csv"
df = pd.read_csv(url, usecols=lambda c:c.startswith( ('c','p')  )  )
df.head(2)

,company,profits,profit_change,ceo,previous_rank,country
0,Walmart,13643.0,-7.2,C. Douglas McMillon,1,USA
1,State Grid,9571.3,-6.2,Kou Wei,2,China

In [26]:
# plik CSV bez wiersza nagłówkowego
url =  r"C:\Users\kurs\Downloads\f500nh.csv" #"http://51.91.120.89/extras/f500nh.csv"
_names = ['company', 'rank', 'revenues', 'revenue_change', 'profits', 'assets',
       'profit_change', 'ceo', 'industry', 'sector', 'previous_rank',
       'country', 'hq_location', 'website', 'years_on_global_500_list',
       'employees', 'total_stockholder_equity']
df =pd.read_csv(url, header=None, names=_names, comment="!", skiprows=10)
df

,company,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
0,Apple,9,215639,-7.7,45687.0,321686,-14.4,Timothy D. Cook,"Computers, Office Equipment",Technology,9,USA,"Cupertino, CA",http://www.apple.com,15,116000,128249
1,Exxon Mobil,10,205004,-16.7,7840.0,330314,-51.5,Darren W. Woods,Petroleum Refining,Energy,6,USA,"Irving, TX",http://www.exxonmobil.com,23,72700,167325
2,McKesson,11,198533,3.1,5070.0,60969,124.5,John H. Hammergren,Wholesalers: Health Care,Wholesalers,12,USA,"San Francisco, CA",http://www.mckesson.com,23,64500,11095
3,BP,12,186606,-17.4,115.0,263316,NaN,Robert W. Dudley,Petroleum Refining,Energy,10,Britain,"London, Britain",http://www.bp.com,23,74500,95286
4,UnitedHealth Group,13,184840,17.7,7017.0,122810,20.7,Stephen J. Hemsley,Health Care: Insurance and Managed Care,Health Care,17,USA,"Minnetonka, MN",http://www.unitedhealthgroup.com,21,230000,38274
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
487,Teva Pharmaceutical Industries,496,21903,11.5,329.0,92890,-79.3,Yitzhak Peterburg,Pharmaceuticals,Health Care,0,Israel,"Petach Tikva, Israel",http://www.tevapharm.com,1,56960,33337
488,New China Life Insurance,497,21796,-13.3,743.9,100609,-45.6,Wan Feng,"Insurance: Life, Health (stock)",Financials,427,China,"Beijing, China",http://www.newchinalife.com,2,54378,8507
489,Wm. Morrison Supermarkets,498,21741,-11.3,406.4,11630,20.4,David T. Potts,Food and Drug Stores,Food & Drug Stores,437,Britain,"Bradford, Britain",http://www.morrisons.com,13,77210,5111
490,TUI,499,21655,-5.5,1151.7,16247,195.5,Friedrich Joussen,Travel Services,Business Services,467,Germany,"Hanover, Germany",http://www.tuigroup.com,23,66779,3006
491,AutoNation,500,21609,3.6,430.5,10060,-2.7,Michael J. Jackson,Specialty Retailers,Retailing,0,USA,"Fort Lauderdale, FL",http://www.autonation.com,12,26000,2310

In [27]:
df.columns

Index(['company', 'rank', 'revenues', 'revenue_change', 'profits', 'assets',
       'profit_change', 'ceo', 'industry', 'sector', 'previous_rank',
       'country', 'hq_location', 'website', 'years_on_global_500_list',
       'employees', 'total_stockholder_equity'],
      dtype='object')

In [29]:
df.dtypes

company                      object
rank                          int64
revenues                      int64
revenue_change              float64
profits                     float64
assets                        int64
profit_change               float64
ceo                          object
industry                     object
sector                       object
previous_rank                 int64
country                      object
hq_location                  object
website                      object
years_on_global_500_list      int64
employees                     int64
total_stockholder_equity      int64
dtype: object

In [30]:
df.head()

,company,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
0,Apple,9,215639,-7.7,45687.0,321686,-14.4,Timothy D. Cook,"Computers, Office Equipment",Technology,9,USA,"Cupertino, CA",http://www.apple.com,15,116000,128249
1,Exxon Mobil,10,205004,-16.7,7840.0,330314,-51.5,Darren W. Woods,Petroleum Refining,Energy,6,USA,"Irving, TX",http://www.exxonmobil.com,23,72700,167325
2,McKesson,11,198533,3.1,5070.0,60969,124.5,John H. Hammergren,Wholesalers: Health Care,Wholesalers,12,USA,"San Francisco, CA",http://www.mckesson.com,23,64500,11095
3,BP,12,186606,-17.4,115.0,263316,NaN,Robert W. Dudley,Petroleum Refining,Energy,10,Britain,"London, Britain",http://www.bp.com,23,74500,95286
4,UnitedHealth Group,13,184840,17.7,7017.0,122810,20.7,Stephen J. Hemsley,Health Care: Insurance and Managed Care,Health Care,17,USA,"Minnetonka, MN",http://www.unitedhealthgroup.com,21,230000,38274

In [31]:
df.tail()

,company,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
487,Teva Pharmaceutical Industries,496,21903,11.5,329.0,92890,-79.3,Yitzhak Peterburg,Pharmaceuticals,Health Care,0,Israel,"Petach Tikva, Israel",http://www.tevapharm.com,1,56960,33337
488,New China Life Insurance,497,21796,-13.3,743.9,100609,-45.6,Wan Feng,"Insurance: Life, Health (stock)",Financials,427,China,"Beijing, China",http://www.newchinalife.com,2,54378,8507
489,Wm. Morrison Supermarkets,498,21741,-11.3,406.4,11630,20.4,David T. Potts,Food and Drug Stores,Food & Drug Stores,437,Britain,"Bradford, Britain",http://www.morrisons.com,13,77210,5111
490,TUI,499,21655,-5.5,1151.7,16247,195.5,Friedrich Joussen,Travel Services,Business Services,467,Germany,"Hanover, Germany",http://www.tuigroup.com,23,66779,3006
491,AutoNation,500,21609,3.6,430.5,10060,-2.7,Michael J. Jackson,Specialty Retailers,Retailing,0,USA,"Fort Lauderdale, FL",http://www.autonation.com,12,26000,2310

In [33]:
df.sample(n=10, random_state=0)

,company,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
362,Time Warner,371,29318,4.3,3926.0,65966,2.4,Jeffrey L. Bewkes,Entertainment,Media,376,USA,"New York, NY",http://www.timewarner.com,16,25000,24335
96,Sony,105,70170,3.9,676.4,158519,-45.1,Kazuo Hirai,"Electronics, Electrical Equip.",Technology,113,Japan,"Tokyo, Japan",http://www.sony.net,23,128400,22415
320,China Everbright Group,329,32461,-1.3,1877.8,627701,-11.2,Tang Shuangning,Banks: Commercial and Savings,Financials,313,China,"Beijing, China",http://www.ebchina.com,3,61400,15661
144,Telefonica,153,57544,-5.5,2619.7,130396,283.4,Jose Maria Alvarez-Pallete Lopez,Telecommunications,Telecommunications,137,Spain,"Madrid, Spain",http://www.telefonica.com,23,127323,19149
15,China State Construction Engineering,24,144505,3.1,2492.9,201269,10.7,Guan Qing,"Engineering, Construction",Engineering & Construction,27,China,"Beijing, China",http://www.cscec.com,6,263915,15344
464,Altice,473,22953,42.2,-1722.5,84805,NaN,Michel Combes,Telecommunications,Telecommunications,0,Netherlands,"Amsterdam, Netherlands",http://www.altice.net,1,49732,-2668
141,Unilever,150,58292,-1.4,5732.7,59512,5.3,Paul Polman,Household and Personal Products,Household Products,147,Britain,"London, Britain",http://www.unilever.com,23,168832,17247
454,Koc Holding,463,23456,-8.1,1144.2,25047,-12.7,Levent Cakiroglu,Energy,Energy,419,Turkey,"Istanbul, Turkey",http://www.koc.com.tr,16,95456,7345
21,Total,30,127925,-10.8,6196.0,230978,21.8,Patrick Pouyanne,Petroleum Refining,Energy,24,France,"Courbevoie, France",http://www.total.com,23,102168,98680
434,SAP,443,24397,5.8,4031.9,46696,18.6,William R. McDermott,Computer Software,Technology,462,Germany,"Walldorf, Germany",http://www.sap.com,2,84183,27817

In [34]:
df.sample(frac=.05, random_state=0)

,company,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
362,Time Warner,371,29318,4.3,3926.0,65966,2.4,Jeffrey L. Bewkes,Entertainment,Media,376,USA,"New York, NY",http://www.timewarner.com,16,25000,24335
96,Sony,105,70170,3.9,676.4,158519,-45.1,Kazuo Hirai,"Electronics, Electrical Equip.",Technology,113,Japan,"Tokyo, Japan",http://www.sony.net,23,128400,22415
320,China Everbright Group,329,32461,-1.3,1877.8,627701,-11.2,Tang Shuangning,Banks: Commercial and Savings,Financials,313,China,"Beijing, China",http://www.ebchina.com,3,61400,15661
144,Telefonica,153,57544,-5.5,2619.7,130396,283.4,Jose Maria Alvarez-Pallete Lopez,Telecommunications,Telecommunications,137,Spain,"Madrid, Spain",http://www.telefonica.com,23,127323,19149
15,China State Construction Engineering,24,144505,3.1,2492.9,201269,10.7,Guan Qing,"Engineering, Construction",Engineering & Construction,27,China,"Beijing, China",http://www.cscec.com,6,263915,15344
464,Altice,473,22953,42.2,-1722.5,84805,NaN,Michel Combes,Telecommunications,Telecommunications,0,Netherlands,"Amsterdam, Netherlands",http://www.altice.net,1,49732,-2668
141,Unilever,150,58292,-1.4,5732.7,59512,5.3,Paul Polman,Household and Personal Products,Household Products,147,Britain,"London, Britain",http://www.unilever.com,23,168832,17247
454,Koc Holding,463,23456,-8.1,1144.2,25047,-12.7,Levent Cakiroglu,Energy,Energy,419,Turkey,"Istanbul, Turkey",http://www.koc.com.tr,16,95456,7345
21,Total,30,127925,-10.8,6196.0,230978,21.8,Patrick Pouyanne,Petroleum Refining,Energy,24,France,"Courbevoie, France",http://www.total.com,23,102168,98680
434,SAP,443,24397,5.8,4031.9,46696,18.6,William R. McDermott,Computer Software,Technology,462,Germany,"Walldorf, Germany",http://www.sap.com,2,84183,27817
418,La Poste,427,25760,0.8,938.9,257526,33.3,Philippe Wahl,"Mail, Package, and Freight Delivery",Transportation,418,France,"Paris, France",http://www.laposte.fr,22,240407,11513
316,Rite Aid,325,32845,6.9,4.1,11594,-97.6,John T. Standley,Food and Drug Stores,Food & Drug Stores,340,USA,"Camp Hill, PA",http://www.riteaid.com,19,70430,614
159,Indian Oil,168,53562,-2.1,2960.0,42132,72.7,Sanjiv Singh,Petroleum Refining,Energy,161,India,"New Delhi, India",http://www.iocl.com,23,34999,15724
100,Munich Re Group,109,68700,-1.1,2853.1,282435,-17.2,Joachim Wenning,Insurance: Property and Casualty (Stock),Financials,106,Germany,"Munich, Germany",http://www.munichre.com,23,43428,33238
134,Sinochem Group,143,59533,-1.9,468.0,57484,NaN,Ning Gaoning,Trading,Wholesalers,139,China,"Beijing, China",http://www.sinochem.com,22,60576,9195
424,Shanxi Coking Coal Group,433,25123,-19.1,-10.0,39206,-113.1,Wu Huatai,"Mining, Crude-Oil Production",Energy,337,China,"Taiyuan, China",http://www.sxcc.com.cn,5,209817,4318
261,Massachusetts Mutual Life Insurance,270,37788,-1.2,1273.5,271040,-10.6,Roger W. Crandall,"Insurance: Life, Health (Mutual)",Financials,258,USA,"Springfield, MA",http://www.massmutual.com,21,11737,15424
250,China National Building Material Group,259,39323,24.0,74.5,81224,NaN,Song Zhiping,"Building Materials, Glass",Materials,327,China,"Beijing, China",http://www.cnbm.com.cn,7,228448,5822
233,Sumitomo Life Insurance,242,40921,31.6,517.5,308346,-6.1,Masahiro Hashimoto,"Insurance: Life, Health (Mutual)",Financials,335,Japan,"Osaka, Japan",http://www.sumitomolife.co.jp,23,42245,8491
322,Nike,331,32376,5.8,3760.0,21396,14.9,Mark G. Parker,Apparel,Apparel,343,USA,"Beaverton, OR",http://www.nike.com,11,70700,12258
254,ZF Friedrichshafen,263,38888,20.2,949.9,30719,-12.1,Stefan Sommer,Motor Vehicles and Parts,Motor Vehicles & Parts,320,Germany,"Friedrichshafen, Germany",http://www.zf.com,4,136820,6134
200,Kia Motors,209,45425,3.7,2373.8,42141,2.0,Hyoung-Keun Lee,Motor Vehicles and Parts,Motor Vehicles & Parts,208,South Korea,"Seoul, South Korea",http://www.kia.com,6,51357,22010
191,CNP Assurances,200,47804,-3.0,1327.3,442027,5.8,Frederic Lavenir,"Insurance: Life, Health (stock)",Financials,182,France,"Paris, France",http://www.cnp.fr,23,5035,18491
439,Shanxi LuAn Mining Group,448,24087,-15.9,-106.9,29026,NaN,Li Jinping,"Mining, Crude-Oil Production",Energy,370,China,"Changzhi, China",http://www.chinaluan.com,5,95666,2542
413,Old Mutual,422,25913,23.8,769.3,211943,-18.0,Bruce Hemphill,"Insurance: Life, Health (stock)",Financials,500,Britain,"London, Britain",http://www.oldmutualplc.com,16,68527,9949

In [35]:
# wymuszanie typu dla importowanych kolumn
# ładowanie pliku CSV do obiektu DataFrame
url = "http://51.91.120.89/extras/f500.csv"
df = pd.read_csv(url, dtype={
    "rank" : "uint16", 
    "revenue_change" : "float32"
})
df.dtypes

company                      object
rank                         uint16
revenues                      int64
revenue_change              float32
profits                     float64
assets                        int64
profit_change               float64
ceo                          object
industry                     object
sector                       object
previous_rank                 int64
country                      object
hq_location                  object
website                      object
years_on_global_500_list      int64
employees                     int64
total_stockholder_equity      int64
dtype: object

In [38]:
df["rank"].min(), df["rank"].max()

(1, 500)

In [39]:
# wymuszanie typu dla importowanych kolumn
# ładowanie pliku CSV do obiektu DataFrame
url = "http://51.91.120.89/extras/f500.csv"
df = pd.read_csv(url, dtype={
    "rank" : "int8", 
    "revenue_change" : "float32"
})
df.dtypes

company                      object
rank                           int8
revenues                      int64
revenue_change              float32
profits                     float64
assets                        int64
profit_change               float64
ceo                          object
industry                     object
sector                       object
previous_rank                 int64
country                      object
hq_location                  object
website                      object
years_on_global_500_list      int64
employees                     int64
total_stockholder_equity      int64
dtype: object

In [40]:
df["rank"].min(), df["rank"].max()

(-128, 127)

In [41]:
df.describe()

,rank,revenues,revenue_change,profits,assets,profit_change,previous_rank,years_on_global_500_list,employees,total_stockholder_equity
count,500.000000,500.000000,498.000000,499.000000,5.000000e+02,436.000000,500.000000,500.000000,5.000000e+02,500.000000
mean,-0.380000,55416.358000,4.538357,3055.203206,2.436323e+05,24.152752,222.134000,15.036000,1.339983e+05,30628.076000
std,74.850684,45725.478963,28.549070,5171.981071,4.851937e+05,437.509566,146.941961,7.932752,1.700878e+05,43642.576833
min,-128.000000,21609.000000,-67.300003,-13038.000000,3.717000e+03,-793.700000,0.000000,1.000000,3.280000e+02,-59909.000000
25%,-66.000000,29003.000000,-5.900000,556.950000,3.658850e+04,-22.775000,92.750000,7.000000,4.293250e+04,7553.750000
50%,2.500000,40236.000000,0.550000,1761.600000,7.326150e+04,-0.350000,219.500000,17.000000,9.291050e+04,15809.500000
75%,65.000000,63926.750000,6.975000,3954.000000,1.805640e+05,17.700000,347.250000,23.000000,1.689172e+05,37828.500000
max,127.000000,485873.000000,442.299988,45687.000000,3.473238e+06,8909.500000,500.000000,23.000000,2.300000e+06,301893.000000

In [44]:
# konwertowanie importowanych kolumn
# ładowanie pliku CSV do obiektu DataFrame
url = "http://51.91.120.89/extras/f500.csv"
df = pd.read_csv(url, converters={
    "rank" : lambda x: int(x)<=10
} )
df.head(15)

,company,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
0,Walmart,True,485873,0.8,13643.0,198825,-7.2,C. Douglas McMillon,General Merchandisers,Retailing,1,USA,"Bentonville, AR",http://www.walmart.com,23,2300000,77798
1,State Grid,True,315199,-4.4,9571.3,489838,-6.2,Kou Wei,Utilities,Energy,2,China,"Beijing, China",http://www.sgcc.com.cn,17,926067,209456
2,Sinopec Group,True,267518,-9.1,1257.9,310726,-65.0,Wang Yupu,Petroleum Refining,Energy,4,China,"Beijing, China",http://www.sinopec.com,19,713288,106523
3,China National Petroleum,True,262573,-12.3,1867.5,585619,-73.7,Zhang Jianhua,Petroleum Refining,Energy,3,China,"Beijing, China",http://www.cnpc.com.cn,17,1512048,301893
4,Toyota Motor,True,254694,7.7,16899.3,437575,-12.3,Akio Toyoda,Motor Vehicles and Parts,Motor Vehicles & Parts,8,Japan,"Toyota, Japan",http://www.toyota-global.com,23,364445,157210
5,Volkswagen,True,240264,1.5,5937.3,432116,NaN,Matthias Muller,Motor Vehicles and Parts,Motor Vehicles & Parts,7,Germany,"Wolfsburg, Germany",http://www.volkswagen.com,23,626715,97753
6,Royal Dutch Shell,True,240033,-11.8,4575.0,411275,135.9,Ben van Beurden,Petroleum Refining,Energy,5,Netherlands,"The Hague, Netherlands",http://www.shell.com,23,89000,186646
7,Berkshire Hathaway,True,223604,6.1,24074.0,620854,NaN,Warren E. Buffett,Insurance: Property and Casualty (Stock),Financials,11,USA,"Omaha, NE",http://www.berkshirehathaway.com,21,367700,283001
8,Apple,True,215639,-7.7,45687.0,321686,-14.4,Timothy D. Cook,"Computers, Office Equipment",Technology,9,USA,"Cupertino, CA",http://www.apple.com,15,116000,128249
9,Exxon Mobil,True,205004,-16.7,7840.0,330314,-51.5,Darren W. Woods,Petroleum Refining,Energy,6,USA,"Irving, TX",http://www.exxonmobil.com,23,72700,167325
10,McKesson,False,198533,3.1,5070.0,60969,124.5,John H. Hammergren,Wholesalers: Health Care,Wholesalers,12,USA,"San Francisco, CA",http://www.mckesson.com,23,64500,11095
11,BP,False,186606,-17.4,115.0,263316,NaN,Robert W. Dudley,Petroleum Refining,Energy,10,Britain,"London, Britain",http://www.bp.com,23,74500,95286
12,UnitedHealth Group,False,184840,17.7,7017.0,122810,20.7,Stephen J. Hemsley,Health Care: Insurance and Managed Care,Health Care,17,USA,"Minnetonka, MN",http://www.unitedhealthgroup.com,21,230000,38274
13,CVS Health,False,177526,15.8,5317.0,94462,1.5,Larry J. Merlo,Health Care: Pharmacy and Other Services,Health Care,18,USA,"Woonsocket, RI",http://www.cvshealth.com,22,204000,36830
14,Samsung Electronics,False,173957,-2.0,19316.5,217104,16.8,Oh-Hyun Kwon,"Electronics, Electrical Equip.",Technology,13,South Korea,"Suwon, South Korea",http://www.samsung.com,23,325000,154376

In [48]:
# ustawianie własnego indeksu
url = "http://51.91.120.89/extras/f500.csv"
df = pd.read_csv(url, index_col='company')
df.head(10)

,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
company,,,,,,,,,,,,,,,,
Walmart,1,485873,0.8,13643.0,198825,-7.2,C. Douglas McMillon,General Merchandisers,Retailing,1,USA,"Bentonville, AR",http://www.walmart.com,23,2300000,77798
State Grid,2,315199,-4.4,9571.3,489838,-6.2,Kou Wei,Utilities,Energy,2,China,"Beijing, China",http://www.sgcc.com.cn,17,926067,209456
Sinopec Group,3,267518,-9.1,1257.9,310726,-65.0,Wang Yupu,Petroleum Refining,Energy,4,China,"Beijing, China",http://www.sinopec.com,19,713288,106523
China National Petroleum,4,262573,-12.3,1867.5,585619,-73.7,Zhang Jianhua,Petroleum Refining,Energy,3,China,"Beijing, China",http://www.cnpc.com.cn,17,1512048,301893
Toyota Motor,5,254694,7.7,16899.3,437575,-12.3,Akio Toyoda,Motor Vehicles and Parts,Motor Vehicles & Parts,8,Japan,"Toyota, Japan",http://www.toyota-global.com,23,364445,157210
Volkswagen,6,240264,1.5,5937.3,432116,NaN,Matthias Muller,Motor Vehicles and Parts,Motor Vehicles & Parts,7,Germany,"Wolfsburg, Germany",http://www.volkswagen.com,23,626715,97753
Royal Dutch Shell,7,240033,-11.8,4575.0,411275,135.9,Ben van Beurden,Petroleum Refining,Energy,5,Netherlands,"The Hague, Netherlands",http://www.shell.com,23,89000,186646
Berkshire Hathaway,8,223604,6.1,24074.0,620854,NaN,Warren E. Buffett,Insurance: Property and Casualty (Stock),Financials,11,USA,"Omaha, NE",http://www.berkshirehathaway.com,21,367700,283001
Apple,9,215639,-7.7,45687.0,321686,-14.4,Timothy D. Cook,"Computers, Office Equipment",Technology,9,USA,"Cupertino, CA",http://www.apple.com,15,116000,128249
Exxon Mobil,10,205004,-16.7,7840.0,330314,-51.5,Darren W. Woods,Petroleum Refining,Energy,6,USA,"Irving, TX",http://www.exxonmobil.com,23,72700,167325

In [49]:
df.index

Index(['Walmart', 'State Grid', 'Sinopec Group', 'China National Petroleum',
       'Toyota Motor', 'Volkswagen', 'Royal Dutch Shell', 'Berkshire Hathaway',
       'Apple', 'Exxon Mobil',
       ...
       'National Grid', 'Dollar General', 'Telecom Italia',
       'Xiamen ITG Holding Group', 'Xinjiang Guanghui Industry Investment',
       'Teva Pharmaceutical Industries', 'New China Life Insurance',
       'Wm. Morrison Supermarkets', 'TUI', 'AutoNation'],
      dtype='object', name='company', length=500)

In [51]:
# resetowanie indeksu
df.reset_index(inplace=True)
df

,company,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
0,Walmart,1,485873,0.8,13643.0,198825,-7.2,C. Douglas McMillon,General Merchandisers,Retailing,1,USA,"Bentonville, AR",http://www.walmart.com,23,2300000,77798
1,State Grid,2,315199,-4.4,9571.3,489838,-6.2,Kou Wei,Utilities,Energy,2,China,"Beijing, China",http://www.sgcc.com.cn,17,926067,209456
2,Sinopec Group,3,267518,-9.1,1257.9,310726,-65.0,Wang Yupu,Petroleum Refining,Energy,4,China,"Beijing, China",http://www.sinopec.com,19,713288,106523
3,China National Petroleum,4,262573,-12.3,1867.5,585619,-73.7,Zhang Jianhua,Petroleum Refining,Energy,3,China,"Beijing, China",http://www.cnpc.com.cn,17,1512048,301893
4,Toyota Motor,5,254694,7.7,16899.3,437575,-12.3,Akio Toyoda,Motor Vehicles and Parts,Motor Vehicles & Parts,8,Japan,"Toyota, Japan",http://www.toyota-global.com,23,364445,157210
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,Teva Pharmaceutical Industries,496,21903,11.5,329.0,92890,-79.3,Yitzhak Peterburg,Pharmaceuticals,Health Care,0,Israel,"Petach Tikva, Israel",http://www.tevapharm.com,1,56960,33337
496,New China Life Insurance,497,21796,-13.3,743.9,100609,-45.6,Wan Feng,"Insurance: Life, Health (stock)",Financials,427,China,"Beijing, China",http://www.newchinalife.com,2,54378,8507
497,Wm. Morrison Supermarkets,498,21741,-11.3,406.4,11630,20.4,David T. Potts,Food and Drug Stores,Food & Drug Stores,437,Britain,"Bradford, Britain",http://www.morrisons.com,13,77210,5111
498,TUI,499,21655,-5.5,1151.7,16247,195.5,Friedrich Joussen,Travel Services,Business Services,467,Germany,"Hanover, Germany",http://www.tuigroup.com,23,66779,3006
499,AutoNation,500,21609,3.6,430.5,10060,-2.7,Michael J. Jackson,Specialty Retailers,Retailing,0,USA,"Fort Lauderdale, FL",http://www.autonation.com,12,26000,2310

In [53]:
# ustanowienie indeksu po załądowaniu DataFrame'a
df.set_index('company', inplace=True)
df

,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
company,,,,,,,,,,,,,,,,
Walmart,1,485873,0.8,13643.0,198825,-7.2,C. Douglas McMillon,General Merchandisers,Retailing,1,USA,"Bentonville, AR",http://www.walmart.com,23,2300000,77798
State Grid,2,315199,-4.4,9571.3,489838,-6.2,Kou Wei,Utilities,Energy,2,China,"Beijing, China",http://www.sgcc.com.cn,17,926067,209456
Sinopec Group,3,267518,-9.1,1257.9,310726,-65.0,Wang Yupu,Petroleum Refining,Energy,4,China,"Beijing, China",http://www.sinopec.com,19,713288,106523
China National Petroleum,4,262573,-12.3,1867.5,585619,-73.7,Zhang Jianhua,Petroleum Refining,Energy,3,China,"Beijing, China",http://www.cnpc.com.cn,17,1512048,301893
Toyota Motor,5,254694,7.7,16899.3,437575,-12.3,Akio Toyoda,Motor Vehicles and Parts,Motor Vehicles & Parts,8,Japan,"Toyota, Japan",http://www.toyota-global.com,23,364445,157210
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Teva Pharmaceutical Industries,496,21903,11.5,329.0,92890,-79.3,Yitzhak Peterburg,Pharmaceuticals,Health Care,0,Israel,"Petach Tikva, Israel",http://www.tevapharm.com,1,56960,33337
New China Life Insurance,497,21796,-13.3,743.9,100609,-45.6,Wan Feng,"Insurance: Life, Health (stock)",Financials,427,China,"Beijing, China",http://www.newchinalife.com,2,54378,8507
Wm. Morrison Supermarkets,498,21741,-11.3,406.4,11630,20.4,David T. Potts,Food and Drug Stores,Food & Drug Stores,437,Britain,"Bradford, Britain",http://www.morrisons.com,13,77210,5111
TUI,499,21655,-5.5,1151.7,16247,195.5,Friedrich Joussen,Travel Services,Business Services,467,Germany,"Hanover, Germany",http://www.tuigroup.com,23,66779,3006
AutoNation,500,21609,3.6,430.5,10060,-2.7,Michael J. Jackson,Specialty Retailers,Retailing,0,USA,"Fort Lauderdale, FL",http://www.autonation.com,12,26000,2310

### Ładowanie danych z XLSX

In [56]:
df = pd.read_excel("http://51.91.120.89/extras/films.xlsx", sheet_name=2)
df

,Entry,Film,Director,Leading actors,Year of cinema release,No of Oscars won,IMDB link,Guardian film page,Country
0,1,Annie Hall,Woody Allen,"Carol Kane, Diane Keaton, Paul Simon, Tony Rob...",1977,4.0,http://www.imdb.com/title/tt0075686/,http://www.guardian.co.uk/film/movie/36314/ann...,USA
1,2,Borat,Larry Charles,"Ken Davitian, Pamela Anderson , Sacha Baron Cohen",2006,NaN,http://www.imdb.com/title/tt0443453/,http://www.guardian.co.uk/film/movie/114557/borat,USA
2,3,Some Like it Hot,Billy Wilder,"George Raft, Jack Lemmon, Joe E Brown, Marilyn...",1959,1.0,http://www.imdb.com/title/tt0053291/,http://www.guardian.co.uk/film/movie/36223/som...,USA
3,4,Team America,Trey Parker,"Kristen Miller, Matt Stone, Trey Parker",2004,NaN,http://www.imdb.com/title/tt0372588/,http://www.guardian.co.uk/film/movie/103000/te...,USA
4,5,Dr Strangelove,Stanley Kubrick,"George C Scott, Peter Sellers, Sterling Hayden",1964,NaN,http://www.imdb.com/title/tt0057012/,http://www.guardian.co.uk/film/movie/76390/dr-...,UK
5,5,The Ladykillers,Alexander Mackendrick,"Alec Guinness, Cecil Parker, Herbert Lom, Pete...",1955,NaN,http://www.imdb.com/title/tt0048281/,http://www.guardian.co.uk/film/movie/36206/lad...,UK
6,7,Duck Soup,Leo McCarey,"Chico Marx, Groucho Marx, Harpo Marx, Margaret...",1933,NaN,http://www.imdb.com/title/tt0023969/,http://www.guardian.co.uk/film/movie/36133/duc...,USA
7,7,Rushmore,Wes Anderson,"Bill Murray, Brian Cox, Jason Schwartzman, Ol...",1998,NaN,http://www.imdb.com/title/tt0128445/,http://www.guardian.co.uk/film/movie/79577/rus...,USA
8,9,Kind Hearts & Coronets,Robert Hamer,"Alec Guinness, Dennis Price, Joan Greenwood",1949,NaN,http://www.imdb.com/title/tt0041546/,http://www.guardian.co.uk/film/movie/36180/kin...,UK
9,10,Monty Python’s Life of Brian,Terry Jones,"Eric Idle, Graham Chapman, John Cleese, Michae...",1979,NaN,http://www.imdb.com/title/tt0079470/,http://www.guardian.co.uk/film/movie/78168/mon...,UK
10,11,Airplane!,"Jim Abrahams, David Zucker and Jerry Zucker","Julie Hagerty, Leslie Nielsen, Robert Hays",1980,NaN,http://www.imdb.com/title/tt0080339/,http://www.guardian.co.uk/film/movie/83228,USA
11,12,Election,Alexander Payne,"Chris Klein, Matthew Broderick, Reese Witherspoon",1999,NaN,http://www.imdb.com/title/tt0126886/,http://www.guardian.co.uk/film/movie/79657/ele...,USA
12,12,His Girl Friday,Howard Hawkes,"Cary Grant, Gene Lockhart, Ralph Bellamy, Rosa...",1940,NaN,http://www.imdb.com/title/tt0032599/,http://www.guardian.co.uk/film/movie/76369/his...,USA
13,12,The Big Lebowski,Joel Coen,"Jeff Bridges, John Goodman, Julianne Moore, St...",1998,NaN,http://www.imdb.com/title/tt0118715/,http://www.guardian.co.uk/film/movie/77069/big...,USA
14,15,This Is Spinal Tap,Rob Reiner,"Christopher Guest, Harry Shearer, Michael McK...",1984,NaN,http://www.imdb.com/title/tt0088258/,http://www.guardian.co.uk/film/movie/81384/thi...,USA
15,16,Bringing Up Baby,Howard Hawkes,"Cary Grant, Katharine Hepburn, Katherine Hepburn",1938,NaN,http://www.imdb.com/title/tt0029947/,http://www.guardian.co.uk/film/movie/36143/bri...,USA
16,17,There’s Something About Mary,Peter & Bob Farrelly,"Ben Stiller, Cameron Diaz, Lee Evans, Matt Dillon",1998,NaN,http://www.imdb.com/title/tt0129387/,http://www.guardian.co.uk/film/movie/34359/the...,USA
17,18,Dazed and Confused,Richard Linklater,"Adam Goldberg, Jason London, Joey Lauren Adams...",1993,NaN,http://www.imdb.com/title/tt0106677/,http://www.guardian.co.uk/film/movie/49047/daz...,USA
18,18,MASH,Robert Altman,"Donald Sutherland, Elliott Gould, Sally Kellerman",1970,1.0,http://www.imdb.com/title/tt0066026/,http://www.guardian.co.uk/film/movie/84547,USA
19,20,Groundhog Day,Harold Ramis,"Andie MacDowell, Bill Murray, Chris Elliott, S...",1993,NaN,http://www.imdb.com/title/tt0107048/,http://www.guardian.co.uk/film/movie/79383/gro...,USA
20,21,Clueless,Amy Heckerling,"Alicia Silverstone, Dan Hedaya, Stacey Dash",1995,NaN,http://www.imdb.com/title/tt0112697/,http://www.guardian.co.uk/film/movie/59257/clu...,USA
21,22,The Great Dictator,Charlie Chaplin,"Charlie Chaplin, Jack Oakie, Paulette Goddard",1940,NaN,http://www.imdb.com/title/tt0032553/,http://www.guardian.co.uk/film/movie/96585/gre...,USA
22,23,Clerks,Kevin Smith,"Brian O'Halloran, Jeff Anderson, Marilyn Ghigl...",1994,NaN,http://www.imdb.com/title/tt0109445/,http://www.guardian.co.uk/film/movie/53831/clerks,USA
23,24,The Jerk,Carl Reiner,Steve Martin,1979,NaN,http://www.imdb.com/title/tt0079367/,http://www.guardian.co.uk/film/movie/88834/jerk,USA
24,25,Shaun of the Dead,Edgar Wright,"Dylan Moran, Kate Ashfield, Nick Frost, Simon ...",2004,NaN,http://www.imdb.com/title/tt0365748/,http://www.guardian.co.uk/film/movie/99960/sha...,UK

In [59]:
df_dict = pd.read_excel("http://51.91.120.89/extras/films.xlsx", sheet_name=None)
type(df_dict)

dict

In [60]:
df_dict.keys()

dict_keys(['ROMANCE', 'CRIME', 'COMEDY', 'ACTION', 'ARTHOUSE AND DRAMA', 'SCI-FI AND FANTASY', 'HORROR'])

In [61]:
df_dict.get("ACTION")

,Entry,Film,Director,Leading actors,Year of cinema release,No of Oscars won,IMDB link,Guardian film page,Country
0,1,Apocalypse Now,Francis Coppola,"Dennis Hopper, Frederic Forrest, Laurence Fish...",1979,2.0,http://www.imdb.com/title/tt0078788/,http://www.guardian.co.uk/film/movie/36320/apo...,USA
1,2,North by Northwest,Alfred Hitchcock,"Cary Grant, Eva Marie Saint, Eva Marie Saint,...",1959,NaN,http://www.imdb.com/title/tt0053125/,http://www.guardian.co.uk/film/movie/35095/nor...,USA
2,3,Once Upon a Time in the West,Sergio Leone,"Charles Bronson, Claudia Cardinale, Henry Fond...",1968,NaN,http://www.imdb.com/title/tt0064116/,http://www.guardian.co.uk/film/movie/36274/onc...,Italy
3,4,The Wild Bunch,Sam Pekinpah,"Ernest Borgnine, Robert Ryan, William Holden",1969,NaN,http://www.imdb.com/title/tt0065214/,http://www.guardian.co.uk/film/movie/36285/wil...,USA
4,5,Deliverance,John Boorman,"Burt Reynolds, Jon Voight, Ned Beatty",1972,NaN,http://www.imdb.com/title/tt0068473/,http://www.guardian.co.uk/film/movie/76560/del...,USA
5,6,City of God,Fernando Meirelles,"Alexandre Rodrigues, Leandro Firmino da Hora, ...",2002,NaN,http://www.imdb.com/title/tt0317248/,http://www.guardian.co.uk/film/movie/94028/cit...,Brazil
6,7,Paths of Glory,Stanley Kubrick,"Adolphe Menjou, Kirk Douglas, Ralph Meeker",1957,NaN,http://www.imdb.com/title/tt0050825/,http://www.guardian.co.uk/film/movie/76931/pat...,USA
7,7,The Wages of Fear,Henri-Georges Clouzot,"Charles Vanel, Folco Lulli, Yves Montand",1953,NaN,http://www.imdb.com/title/tt0046268/,http://www.guardian.co.uk/film/movie/78592/wag...,France
8,9,Crouching Tiger Hidden Dragon,Ang Lee,"Chang Chen, Chow Yun-Fat, Michelle Yeoh, Zhang...",2000,4.0,http://www.imdb.com/title/tt0190332/,http://www.guardian.co.uk/film/movie/86383/cro...,Taiwan
9,10,The Thin Red Line,Terrence Malik,"Adrien Brody, Ben Chaplin, Nick Nolte, Sean Penn",1998,NaN,http://www.imdb.com/title/tt0120863/,http://www.guardian.co.uk/film/movie/74795/thi...,USA
10,11,Raiders of the Lost Ark,Steven Spielberg,"Harrison Ford, Karen Allen, Paul Freeman, Rona...",1981,4.0,http://www.imdb.com/title/tt0082971/,http://www.guardian.co.uk/film/movie/36332/rai...,USA
11,12,Bullitt,Peter Yates,"Jacqueline Bisset, Robert Vaughn, Steve McQueen",1968,1.0,http://www.imdb.com/title/tt0062765/,http://www.guardian.co.uk/film/movie/76966/bul...,USA
12,12,Ran,Akira Kurosawa,"Akira Terao, Daisuke Ryu, Mieko Harada, Tatsuy...",1985,1.0,http://www.imdb.com/title/tt0089881/,http://www.guardian.co.uk/film/movie/76633/ran,Japan
13,14,Die Hard,John McTeirnan,"Alan Rickman, Bonnie Bedelia, Bruce Willis",1988,NaN,http://www.imdb.com/title/tt0095016/,http://www.guardian.co.uk/film/movie/80851/die...,Japan
14,15,The Adventures of Robin Hood,"Michael Curtiz, William Keighley","Basil Rathbone, Claude Rains, Errol Flynn, Oli...",1938,3.0,http://www.imdb.com/title/tt0029843/,http://www.guardian.co.uk/film/movie/34500/adv...,USA
15,16,The Searchers,John Ford,"Jeffrey Hunter, John Wayne, Natalie Wood, Vera...",1956,NaN,http://www.imdb.com/title/tt0049730/,http://www.guardian.co.uk/film/movie/115097/se...,USA
16,17,Goldfinger,Guy Hamilton,"Bernard Lee, Gert Frobe, Harold Sakata, Honor...",1964,1.0,http://www.imdb.com/title/tt0058150/,http://www.guardian.co.uk/film/movie/79341/gol...,UK
17,18,Full Metal Jacket,Stanley Kubrick,"Adam Baldwin, Lee Ermey, Matthew Modine, Vince...",1987,NaN,http://www.imdb.com/title/tt0093058/,http://www.guardian.co.uk/film/movie/76429/ful...,USA
18,18,Last of the Mohicans,Michael Mann,"Daniel Day-Lewis, Jodhi May, Madeleine Stowe",1992,1.0,http://www.imdb.com/title/tt0104691/,http://www.guardian.co.uk/film/movie/79330/las...,NaN
19,20,Deer Hunter,Michael Cimino,"Christopher Walken, Meryl Streep, Robert De Niro",1978,5.0,http://www.imdb.com/title/tt0077416/,http://www.guardian.co.uk/film/movie/36318/dee...,USA
20,21,Gladiator,Ridley Scott,"Connie Nielsen, Joaquin Phoenix, Oliver Reed, ...",2000,5.0,http://www.imdb.com/title/tt0172495/,http://www.guardian.co.uk/film/movie/83550/gla...,USA
21,22,Rome Open City,Roberto Rossellini,"Aldo Fabrizi, Anna Magnani, Marcello Pagliero",1945,NaN,http://www.imdb.com/title/tt0038890/,http://www.guardian.co.uk/film/movie/78859/rom...,Italy
22,23,Butch Cassidy,George Roy Hill,"Katharine Ross, Paul Newman, Robert Redford",1969,4.0,http://www.imdb.com/title/tt0064115/,http://www.guardian.co.uk/film/movie/36276/but...,USA
23,23,Where Eagles Dare,Brian G. Hutton,"Clint Eastwood, Mary Ure, Richard Burton",1968,NaN,http://www.imdb.com/title/tt0065207/,http://www.guardian.co.uk/film/movie/83199/whe...,USA
24,25,The Incredibles,Brad Bird,"Craig T Nelson, Holly Hunter, Jason Lee, Samue...",2004,2.0,http://www.imdb.com/title/tt0317705/,http://www.guardian.co.uk/film/movie/102423/in...,USA