In [1]:
import pandas as pd

In [2]:
url = "http://51.91.120.89/extras/test.html"
df_list = pd.read_html(url, header=0,) # match="Programming"

In [3]:
len(df_list)

3

In [4]:
df_list[0]

     OrderDate   Region       Rep     Item  Units  UnitCost    Total
0     1/6/2019     East     Jones   Pencil     95      1.99   189.05
1    1/23/2019  Central    Kivell   Binder     50     19.99   999.50
2     2/9/2019  Central   Jardine   Pencil     36      4.99   179.64
3    2/26/2019  Central      Gill      Pen     27     19.99   539.73
4    3/15/2019     West   Sorvino   Pencil     56      2.99   167.44
5     4/1/2019     East     Jones   Binder     60      4.99   299.40
6    4/18/2019  Central   Andrews   Pencil     75      1.99   149.25
7     5/5/2019  Central   Jardine   Pencil     90      4.99   449.10
8    5/22/2019     West  Thompson   Pencil     32      1.99    63.68
9     6/8/2019     East     Jones   Binder     60      8.99   539.40
10   6/25/2019  Central    Morgan   Pencil     90      4.99   449.10
11   7/12/2019     East    Howard   Binder     29      1.99    57.71
12   7/29/2019     East    Parent   Binder     81     19.99  1619.19
13   8/15/2019     East     Jones   Pencil     35      4.99   174.65
14    9/1/2019  Central     Smith     Desk      2    125.00   250.00
15   9/18/2019     East     Jones  Pen Set     16     15.99   255.84
16   10/5/2019  Central    Morgan   Binder     28      8.99   251.72
17  10/22/2019     East     Jones      Pen     64      8.99   575.36
18   11/8/2019     East    Parent      Pen     15     19.99   299.85
19  11/25/2019  Central    Kivell  Pen Set     96      4.99   479.04
20  12/12/2019  Central     Smith   Pencil     67      1.29    86.43
21  12/29/2019     East    Parent  Pen Set     74     15.99  1183.26
22   1/15/2020  Central      Gill   Binder     46      8.99   413.54
23    2/1/2020  Central     Smith   Binder     87     15.00  1305.00
24   2/18/2020     East     Jones   Binder      4      4.99    19.96
25    3/7/2020     West   Sorvino   Binder      7     19.99   139.93
26   3/24/2020  Central   Jardine  Pen Set     50      4.99   249.50
27   4/10/2020  Central   Andrews   Pencil     66      1.99   131.34
28   4/27/2020     East    Howard      Pen     96      4.99   479.04
29   5/14/2020  Central      Gill   Pencil     53      1.29    68.37
30   5/31/2020  Central      Gill   Binder     80      8.99   719.20
31   6/17/2020  Central    Kivell     Desk      5    125.00   625.00
32    7/4/2020     East     Jones  Pen Set     62      4.99   309.38
33   7/21/2020  Central    Morgan  Pen Set     55     12.49   686.95
34    8/7/2020  Central    Kivell  Pen Set     42     23.95  1005.90
35   8/24/2020     West   Sorvino     Desk      3    275.00   825.00
36   9/10/2020  Central      Gill   Pencil      7      1.29     9.03
37   9/27/2020     West   Sorvino      Pen     76      1.99   151.24
38  10/14/2020     West  Thompson   Binder     57     19.99  1139.43
39  10/31/2020  Central   Andrews   Pencil     14      1.29    18.06
40  11/17/2020  Central   Jardine   Binder     11      4.99    54.89
41   12/4/2020  Central   Jardine   Binder     94     19.99  1879.06
42  12/21/2020  Central   Andrews   Binder     28      4.99   139.72

In [5]:
df_list[1]

  Programming Language             Creator  Year
0                    C      Dennis Ritchie  1972
1               Python    Guido Van Rossum  1989
2                 Ruby  Yukihiro Matsumoto  1995

In [6]:
df_list[2]

   Area (sq.ft)  Price (USD)
0         12000          500
1         32000          700

In [7]:
# pobieranie danych z PDF
!pip install tabula-py

Requirement already satisfied: tabula-py in /usr/local/lib/python3.7/dist-packages (2.3.0)
Requirement already satisfied: distro in /usr/local/lib/python3.7/dist-packages (from tabula-py) (1.6.0)
Requirement already satisfied: pandas>=0.25.3 in /usr/local/lib/python3.7/dist-packages (from tabula-py) (1.3.5)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from tabula-py) (1.19.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.3->tabula-py) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.3->tabula-py) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.25.3->tabula-py) (1.15.0)

In [8]:
!java --version

openjdk 11.0.11 2021-04-20
OpenJDK Runtime Environment (build 11.0.11+9-Ubuntu-0ubuntu2.18.04)
OpenJDK 64-Bit Server VM (build 11.0.11+9-Ubuntu-0ubuntu2.18.04, mixed mode, sharing)

In [9]:
import tabula

In [10]:
df_list = tabula.read_pdf("http://51.91.120.89/extras/autos.pdf", pages="all", pandas_options={"header":None})

In [11]:
len(df_list)

1

In [12]:
df_list[0]

     0            1            2      3      4     5     6    7   8      9
0    0  alfa-romero  convertible   88.6  168.8  dohc  four  111  21      ?
1    1  alfa-romero  convertible   88.6  168.8  dohc  four  111  21  16500
2    2  alfa-romero    hatchback   94.5  171.2  ohcv   six  154  19      ?
3    3         audi        sedan   99.8  176.6   ohc  four  102  24  13950
4    4         audi        sedan   99.4  176.6   ohc  five  115  18      ?
..  ..          ...          ...    ...    ...   ...   ...  ...  ..    ...
56  81   volkswagen        sedan   97.3  171.7   ohc  four   85  27   7975
57  82   volkswagen        sedan   97.3  171.7   ohc  four   52  37   7995
58  86   volkswagen        sedan   97.3  171.7   ohc  four  100  26   9995
59  87        volvo        sedan  104.3  188.8   ohc  four  114  23  12940
60  88        volvo        wagon  104.3  188.8   ohc  four  114  23  13415

[61 rows x 10 columns]

In [13]:
# ładowanie JSONa do Dataframe
url ="https://finnhub.io/api/v1/stock/candle?symbol=AAPL&resolution=D&from=1614556800&to=1616838401&token=c0l3shv48v6und6sfbs0"
pd.read_json(url)

          c         h        l       o   s           t          v
0   127.790  127.9300  122.790  123.75  ok  1614556800  116307892
1   125.120  128.7200  125.010  128.41  ok  1614643200  102260945
2   122.060  125.7100  121.840  124.81  ok  1614729600  112966340
3   120.130  123.6000  118.620  121.75  ok  1614816000  178154975
4   121.420  121.9350  117.570  120.98  ok  1614902400  153766601
5   116.360  121.0000  116.210  120.93  ok  1615161600  154376610
6   121.085  122.0600  118.790  119.03  ok  1615248000  129525780
7   119.980  122.1700  119.450  121.69  ok  1615334400  111943326
8   121.960  123.2100  121.260  122.54  ok  1615420800  103026514
9   121.030  121.1700  119.160  120.40  ok  1615507200   88105050
10  123.990  124.0000  120.420  121.41  ok  1615766400   92590555
11  125.570  127.2200  124.715  125.70  ok  1615852800  115227936
12  124.760  125.8599  122.336  124.05  ok  1615939200  111932636
13  120.530  123.1800  120.320  122.88  ok  1616025600  121469755
14  119.990  121.4300  119.675  119.90  ok  1616112000  185549522
15  123.390  123.8700  120.260  120.33  ok  1616371200  111912284
16  122.540  124.2400  122.140  123.33  ok  1616457600   95467142
17  120.090  122.9000  120.065  122.82  ok  1616544000   88530485
18  120.590  121.6600  119.000  119.54  ok  1616630400   98844681
19  121.210  121.4800  118.920  120.35  ok  1616716800   94071234

In [14]:
# wczytanie danych SAS
!wget -O alcohol.sas7bdat http://51.91.120.89/extras/alcohol.sas7bdat

--2021-12-21 15:42:54--  http://51.91.120.89/extras/alcohol.sas7bdat
Connecting to 51.91.120.89:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 17408 (17K)
Saving to: ‘alcohol.sas7bdat’

alcohol.sas7bdat    100%[===================>]  17.00K  --.-KB/s    in 0.1s

2021-12-21 15:42:54 (152 KB/s) - ‘alcohol.sas7bdat’ saved [17408/17408]

In [15]:
pd.read_sas("alcohol.sas7bdat")

     ADULTS  KIDS  INCOME  CONSUME
0       2.0   2.0   758.0      1.0
1       2.0   3.0  1785.0      1.0
2       3.0   0.0  1200.0      1.0
3       1.0   0.0   545.0      1.0
4       4.0   1.0   547.0      1.0
..      ...   ...     ...      ...
995     2.0   3.0   704.0      1.0
996     2.0   0.0   822.0      1.0
997     2.0   0.0  1383.0      1.0
998     2.0   2.0   816.0      0.0
999     2.0   2.0   387.0      0.0

[1000 rows x 4 columns]

In [16]:
# wczytanie danych SPSS
!wget -O experim.sav http://51.91.120.89/extras/experim.sav

--2021-12-21 15:42:54--  http://51.91.120.89/extras/experim.sav
Connecting to 51.91.120.89:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 3100 (3.0K)
Saving to: ‘experim.sav’

experim.sav         100%[===================>]   3.03K  --.-KB/s    in 0s

2021-12-21 15:42:54 (178 MB/s) - ‘experim.sav’ saved [3100/3100]

In [17]:
!pip install pyreadstat

pd.read_spss("experim.sav")

Requirement already satisfied: pyreadstat in /usr/local/lib/python3.7/dist-packages (1.1.4)
Requirement already satisfied: pandas>=1.2.0 in /usr/local/lib/python3.7/dist-packages (from pyreadstat) (1.3.5)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.2.0->pyreadstat) (1.19.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.2.0->pyreadstat) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.2.0->pyreadstat) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=1.2.0->pyreadstat) (1.15.0)

      id     sex   age  ...       DepT1gp2       DepT2Gp2       DepT3gp2
0    4.0    male  23.0  ...  not depressed  not depressed  not depressed
1   10.0    male  21.0  ...  not depressed  not depressed  not depressed
2    9.0    male  25.0  ...  not depressed  not depressed  not depressed
3    3.0    male  30.0  ...  not depressed  not depressed  not depressed
4   12.0    male  45.0  ...  not depressed      depressed  not depressed
5   11.0    male  22.0  ...  not depressed  not depressed  not depressed
6    6.0    male  22.0  ...  not depressed  not depressed  not depressed
7    5.0    male  26.0  ...      depressed      depressed  not depressed
8    8.0    male  23.0  ...  not depressed  not depressed  not depressed
9   13.0    male  21.0  ...      depressed      depressed      depressed
10  14.0    male  23.0  ...  not depressed  not depressed  not depressed
11   1.0    male  19.0  ...  not depressed  not depressed  not depressed
12  15.0    male  23.0  ...      depressed      depressed      depressed
13   7.0    male  19.0  ...  not depressed  not depressed  not depressed
14   2.0    male  21.0  ...      depressed      depressed      depressed
15  27.0  female  20.0  ...      depressed  not depressed  not depressed
16  25.0  female  24.0  ...  not depressed  not depressed  not depressed
17  19.0  female  27.0  ...      depressed      depressed  not depressed
18  18.0  female  23.0  ...  not depressed  not depressed  not depressed
19  23.0  female  22.0  ...  not depressed  not depressed  not depressed
20  21.0  female  46.0  ...  not depressed  not depressed  not depressed
21  26.0  female  19.0  ...  not depressed  not depressed  not depressed
22  29.0  female  22.0  ...  not depressed  not depressed  not depressed
23  17.0  female  37.0  ...  not depressed  not depressed  not depressed
24  20.0  female  32.0  ...      depressed      depressed  not depressed
25  28.0  female  30.0  ...  not depressed  not depressed  not depressed
26  22.0  female  25.0  ...      depressed  not depressed  not depressed
27  24.0  female  21.0  ...      depressed      depressed      depressed
28  16.0  female  45.0  ...      depressed  not depressed  not depressed
29  30.0  female  21.0  ...  not depressed  not depressed  not depressed

[30 rows x 18 columns]

In [18]:
!pip install pandas -U

Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.19.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)